#root {
  margin: 0 auto;
}
//Global
h1{
  margin-bottom: 18px;
  font-size: 38px;
}  
h2{
  margin-bottom: 18px;
  font-size: 32px;
}  
.active{
  background-color: black;
}
.gap-30{
  gap:30px;
}

.br {
  border-radius: 10px;
}

.text-center{
  text-align: center;
  max-width: 680px;
  margin: auto;
}

.flex{
  display:flex;

  &.flex-wrap{
    flex-wrap: wrap;

  }
  &.flex-center{
    align-items: center;
    justify-content: center;
  }
}

///////////////////////
.page{
  position: relative;
  height: 56vh;
  overflow: hidden;
 
  

  &-content{
    max-width: 400px;
    position: absolute;
    right: 100px;
    top:50%;
    transform: translateY(-50%);


  p{
    text-shadow: 1px 1px 2px black;
  }
  }

}
img{
  width:100%;
  
}

.container{
  margin: auto;
  max-width: 1000px;
}

section{
  margin: 100px 0;
}


.special-dishes{
  &-content{
    max-width: 680px;
    margin: auto;
  }
  &-list{
    margin-top: 80px;
    
    h4{
      margin-top: 18px;

    }

    li{
      width: 22%;
      
    }
  }
}

.filtered-dishes{
  ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  li{
    background-color: #ffb902;
    color:white;
    padding: 12px 30px;
    border-radius: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor:pointer;
    transition: all ease 0.3s;

    &.active{
      background-color: black;
    }

    &:hover{
      background-color: black;
    }


  }
}

.loader{
  width:150px;
  height:auto;
  align-items: center;
  justify-content: center;

  max-width: 400px;
  position: absolute;
  left: 325px;
  
}

.filtered-dishes-results{
  margin-top: 80px;
    
  h4{
    margin-top: 18px;

  }

  li{
    width: 22%;
    
  }

}